<% if @tank.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@tank.errors.count, "error") %>
      prohibited this tank from being saved:
    </h2>

    <ul>
      <% @tank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>